<section class="section section-features">
  <div class="container">

    <header class="section-header">
      <h3>Great companies use Lobbipad to</h3>
    </header>

    <section class="cards">

      <article class="card">
        <header class="card-header">
          <figure class="card-icon">
            <%= image_tag 'icon-time-and-money.svg' %>
          </figure>
        </header>
        <div class="card-content">
          <h3>Save time & money</h3>
          <p>Your receptionist can start focussing on productive tasks, instead of updating spreadsheets and calling people around.</p>
        </div>
      </article><!-- / card -->

      <article class="card">
        <header class="card-header">
          <figure class="card-icon">
            <%= image_tag 'icon-privacy.svg' %>
          </figure>
        </header>
        <div class="card-content">
          <h3>Enhance privacy and security</h3>
          <p>Unlike paper guestbooks, visitor information is kept confidential. And at all times, you know who's in the building.</p>
        </div>
      </article><!-- / card -->

      <article class="card">
        <header class="card-header">
          <figure class="card-icon">
            <%= image_tag 'icon-winner.svg' %>
          </figure>
        </header>
        <div class="card-content">
          <h3>Wow visitors</h3>
          <p>When guests check in, Lobbipad will wow them with a fully customized iPad design that shows off your logo and branding.</p>
        </div>
      </article><!-- / card -->

    </section><!-- / cards -->

  </div>
</section><!-- / section-features -->
