<section class="section section-testimonials">
  <div class="container">

    <header class="section-header">
      <h3>Testimonials</h3>
    </header>

    <section class="testimonials">
      <article class="testimonial">
        <header class="testimonial-header">
          <div class="header-picture">
            <%= image_tag 'avatar-dummy.png', :class => 'avatar' %>
          </div>
          <div class="header-data">
            <p><strong>Eric Johnson</strong></p>
            <p>CTO</p>
            <h6>Kinepolis</h6>
          </div>
        </header>
        <div class="testimonial-content">
          <p><em>Lobbipad was extremely easy for us from the very start. Night of seas fruitful images that a man of beast haven gree own it after and shall. Likeness shall which creepath.</em></p>
        </div>
      </article><!-- / testimonial -->
    </section><!-- / logos -->

  </div>
</section><!-- / section-testimonials -->
